**/ebin/**
**/deps/**
logs/**
erl_crash.dump
rel/example_project
.eunit
*.o
*.plt
.concrete/DEV_MODE
.rebar
.DS_Store
*~
.#*
.applist-*
package-lock.json
node_modules
/client/web/node_modules
.expo
npm-debug.*
Mnesia*
nginx