{sub_dirs,["apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,"deps"}.
{deps, [
    {cowboy, ".*", {git, "git://github.com/extend/cowboy",      {tag, "2.4.0"} }},
	{syn,    ".*", {git, "git://github.com/ostinelli/syn.git",  {tag, "1.6.3"} }},
    {fs,     ".*", {git, "git://github.com/synrc/fs",           {tag, "1.9"}   }},
    {sh,     ".*", {git, "git://github.com/synrc/sh",           {tag, "1.9"}   }},
    {mad,    ".*", {git, "git://github.com/synrc/mad",          {tag, "1.9"}   }},
    {active, ".*", {git, "git://github.com/synrc/active",       {tag, "1.9"}   }}
]}.
{fetch_speed,fast_master}.
{verbose,1}.
